.question{
    padding: 1rem 1.5rem;
    border: 2px solid hsl(212, 33%, 89%);
    margin-bottom: 1rem;
    border-radius: 110.25;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    
}
.container h3 {
  line-height: 1.2;
  font-weight: 500;
}
@media screen and (min-width: 992px) {
  .container {
    display: grid;
    grid-template-columns: 250px 1fr;
  }
}
.question header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}n h4 {
    text-transform: none;
    line-height: 1.5;
}
.question P {
    color: rgb(134, 129, 129);
    margin-bottom:0;
    margin-top: 0.5rem;
}
.question heaer h4 {
    margin-bottom: 0;

}
.btn {
    background: transparent;
    border-color: transparent;
    width: 2rem;
    height: 2rem;
    background: rgb(189, 183, 183);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: rgb(165, 72, 72);
    cursor: pointer;
    align-self: center;
    min-width: 2rem;
}